# Ignorar la carpeta node_modules (npm)
node_modules/

# Ignorar archivos de dependencias de frontend
package.json
package-lock.json
gulpfile.js

# Ignorar caché del editor de código (VS Code, JetBrains)
.vscode/

# Ignorar archivos de configuración del entorno
.env
